<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>BTG pactual | Design system </title>

    <!-- IE11 Pollyfils -->
    <script src="lib/document-register-element.js"></script>
    <script src="lib/customevent-polyfill.js"></script>
    <!-- /IE11 Pollyfils -->

    <script src="lib/jquery-3.3.1.min.js"></script>
    <script src="lib/moment.js"></script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
