<template>
	<div class="btg-input-text" :class="classObject">
		<label 
			@click="onClick()"
			class="btg-input-text__label">{{ label }}</label>
		<div class="d-flex" ref="input-wrapper">
			<datepicker 
				ref="input"
				input-class="btg-input-text__input"
				v-model="data"
				:name="name"
				:format="format"
				:language="es"></datepicker>
			<!-- <input 
				ref="input" 
				class="btg-input-text__input" 
				@focus="onFocus()"
				@blur="onBlur()"
				@change="onChange()"
				v-model="data" 
				type="text"
				:disabled="readOnly" 
				:name="name"> -->
		</div>
		<hr class="btg-input-text__line">
		<div class="btg-input-text__feedback" :class="'btg-input-text__feedback--' + status">{{ message }}</div>
		<div class="btg-input-text__feedback-icon">
			<i class="fas fa-times" v-if="status == 'error'"></i>
			<i class="fas fa-check" v-if="status == 'success'"></i>
		</div>

	<div v-if="debug">
		<pre>
			isDirty: {{ dirty }}
			name: {{ name }}
			value: {{ data }}
			status: {{ status }}
			message: {{ message }}
		</pre>
		<input type="checkbox" v-model="dirty">
	</div>
</div>
</template>
<style>
	.cell.selected{
		color: white;
	}
</style>
<script>
	import InputText from './InputText'
	import Datepicker from 'vuejs-datepicker';
	import {es} from 'vuejs-datepicker/dist/locale'
	import moment from 'moment'

	export default{
		name: 'btg-date-picker',
		extends: InputText,
		props:{
			format: {
				type: String,
				default: 'dd/MM/yyyy'
			}
		},
		data(){
			return{
				es: es
			}
		},
		components: {
			Datepicker
		},
		mounted(){
			if(this.value){
				this.data = moment(this.value, 'DD/MM/YYYY').format()
			}
		},
		watch: {
			data(){
				if(this.data){
					this.dirty = true
				}
			}
		},
		computed: {
			classObject(){ 
				var classes = {};
				classes['btg-input-text--dirty'] = this.dirty
				classes['btg-input-text--with-feedback'] = this.message
				classes['btg-input-text--' +  this.status] = this.status
				return classes
			}
		},
		methods: {
			onClick(){
				this.$refs['input'].$el.querySelector('input').click()
			},
			onFocus(){
				this.dirty = true
			}
		}
	}
</script>