<template>
	<div class="btg-input-text" :class="classObject">
		<label 
			@click="onClick()"
			class="btg-input-text__label">{{ label }}</label>
		<div class="d-flex">
			<span class="btg-input-text__prefix" v-if="prefix">{{ prefix }}</span>
			<input 
				ref="input" 
				v-bind="$attrs"
				class="btg-input-text__input" 
				@focus="onFocus()"
				@blur="onBlur()"
				v-model="data" 
				type="text"
				:disabled="readOnly" 
				:name="name">
		</div>
		<hr class="btg-input-text__line">
		<div class="btg-input-text__feedback" :class="'btg-input-text__feedback--' + status">{{ message }}</div>
		<div class="btg-input-text__feedback-icon">
			<i class="fas fa-times" v-if="status == 'error'"></i>
			<i class="fas fa-check" v-if="status == 'success'"></i>
		</div>

	<div v-if="debug">
		<pre>
			isDirty: {{ dirty }}
			name: {{ name }}
			value: {{ data }}
			status: {{ status }}
			message: {{ message }}
		</pre>
		<input type="checkbox" v-model="dirty">
	</div>
</div>
</template>
<style lang="scss">
	@import '../variables.scss';

	.btg-input-text{
		$b: &;

		position: relative;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1px;

		&--dirty{
			#{$b}__label{
				top: -1rem;
				left: 1rem;
				font-size: 0.875rem;
				color: $primary-light;
				text-transform: uppercase;
				z-index: 2;
			}
		}

		&__label{
			color: #717171;	
			font-family: "Source Sans Pro";	
			font-size: 1.125rem;
			display: block;
			position: absolute;
			left: 1.235rem;
			top: 0.5rem;
			transition: all 0.2s;
			z-index: 1;
		}

		&__prefix{
			font-size: 1.125rem;
			padding: 0.5rem 1rem;
			padding-right: 0;
			color: #DDD;
			display: none;

			#{$b}--dirty &{
				display: inline-block;
			}
		}

		&__input{
			border: none;
			background: #fdfdfd;
			left: 0;
			bottom: 0;
			display: block;
			font-size: 1.125rem;
			padding: 0.5rem 1rem;
			margin-bottom: 0;
			width: 100%;
			color: #666;
			&:focus{ 
				outline: none;
			}
		}

		&__line{
			border: none;
			margin-top: 0;
			margin-bottom: 0;
			border-bottom: solid 1px #ccc;

			#{$b}--error &{
				border-bottom: solid 2px $danger;
			}

			#{$b}--success &{
				border-bottom: solid 2px $success;
			}
		}


		&__feedback{
			margin-bottom: 1rem;
			padding: 0 1rem;
			font-size: 0.875rem;

			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}
		&__feedback-icon{
			top: 1.1rem;
			position: absolute;
			right: 0;
			width: 20px;
			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}
	}
</style>
<script>
	export default{
		name: 'btg-input-text',
		inheritAttrs: false,
		props: ['label', 'name', 'value', 'status', 'message', 'prefix', 'read-only'],
		data(){
			return {
				data: '',
				dirty: false,
				debug: false,
			}
		},
		mounted(){
			if(this.value){
				this.dirty = true
				this.data = this.value
			}			
		},
		computed: {
			classObject(){ 
				var classes = {};
				classes[this.$options.name + '--dirty'] = this.dirty
				classes[this.$options.name + '--with-feedback'] = this.message
				classes[this.$options.name + '--' +  this.status] = this.status
				return classes
			}
		},
		watch: {
			value(){
				if(this.value){
					this.dirty = true
					this.data = this.value
				}	
			},
			data(e){
				this.$emit('input', e)
			}
		},
		methods: {
			onClick(){
				this.$refs['input'].focus()
			},
			onFocus(){
				this.dirty = true
			},
			onBlur(){
				if(this.data == ''){
					this.dirty = false
				}
			}
		}
	}
</script>