<template>
	<div class="btg-input-file" :class="classObject">
		<input 
			type="file" 
			@change="onChange($event)" 
			class="btg-input-file__input-file" 
			ref="input"
			:accept="accept" 
			:name="name">
		<div 
			class="btg-input-card__button" 
			:class="{'btg-input-card__button--filled': fileName}"
			@click="onClick()">


			<template v-if="!fileName">
				<span class="fas fa-plus"></span>
				<div>{{ label }}</div>
			</template>
			<template v-if="fileName">
				<span class="fas fa-file"></span>
				<div>{{ fileName }}</div>
			</template>
			
		</div>
		<div class="btg-input-file__feedback text-center py-1" v-if="message">{{ message }}</div>
	</div>
</template>
<script>
	import InputFile from './InputFile.vue'
	export default{
		name: 'btg-input-file-card',
		extends: InputFile
	}
</script>
<style lang="scss">
	@import '../variables.scss';
	.btg-input-card__button{
		background: #eee;
		border-radius: 3px;
		padding: 1rem;
		text-align: center;
	}
	.btg-input-card__button--filled{
		background: rgba(#0272A7, 0.3);
		color: #0272A7;
	}
	.btg-input-file-card--error .btg-input-card__button{
		background: rgba($danger, 0.3);
		color: $danger;
	}
	.btg-input-file-card--success .btg-input-card__button{
		background: rgba($success, 0.3);
		color: $success;
	}
	.btg-input-file-card--error .btg-input-file__feedback{
		color: $danger;
	}
	.btg-input-file-card--success .btg-input-file__feedback{
		color: $success;
	}
</style>