<template>
	<div class="btg-input-file" :class="classObject">
		<input 
			type="file" 
			@change="onChange($event)" 
			class="btg-input-file__input-file" 
			ref="input"
			:accept="accept" 
			multiple
			:name="name">
		<label 
			@click="onClick()"
			class="btg-input-file__label">{{ label }}</label>
		<div class="d-flex">
			<span class="btg-input-file__prefix" v-if="prefix">{{ prefix }}</span>
			<div class="btg-input-file__input" @click="onClick()">
				{{ fileName }}
			</div>
		</div>
		<hr class="btg-input-file__line">
		<div class="btg-input-file__feedback" :class="'btg-input-file__feedback--' + status">{{ message }}</div>
		<div class="btg-input-file__feedback-icon" @click="onClick()">
			<i class="fas fa-times" v-if="status == 'error'"></i>
			<i class="fas fa-check" v-if="status == 'success'"></i>
			<i class="fas fa-upload" v-if="!status"></i>
		</div>

		<div v-if="debug">
			<pre>
				isDirty: {{ dirty }}
				name: {{ name }}
				value: {{ data }}
				status: {{ status }}
				message: {{ message }}
			</pre>
			<input type="checkbox" v-model="dirty">
		</div>
	</div>
</template>

<script>
	export default{
		name: 'btg-input-file',
		props: {
			label: String,
			name: String,
			value: String,
			status: String,
			message: String,
			prefix: String,
			multipleLabel: {
				type: String,
				default: 'Multiple files...'
			},
			accept: {
				type: String,
				default: 'image/png, image/jpeg'
			}

		},
		data(){
			return {
				data: '',
				dirty: false,
				debug: false,
				fileName: '',
				files: []
			}
		},
		mounted(){
			if(this.value){
				this.dirty = true
				this.data = this.value
			}			
		},
		computed: {
			classObject(){ 
				var classes = {};
				classes[this.$options.name + '--dirty'] = this.dirty
				classes[this.$options.name + '--with-feedback'] = this.message
				classes[this.$options.name + '--' +  this.status] = this.status
				return classes
			}
		},
		methods: {
			onClick(){
				this.$refs['input'].click()
			},
			onChange(evt){
				if(evt.target.files.length <= 0){
					return
				}

				this.files = evt.target.files

				if(this.files.length > 1){
					this.fileName = this.multipleLabel
					this.dirty = true
				}else{
					// Single
					this.fileName = evt.target.files[0].name
					var event = new CustomEvent('btg:'+this.$options.name+':' + this.name + ':changed', {
						detail: {
							target: evt.target
						}
					})
					window.dispatchEvent(event)
					this.dirty = true
				}
			}
		}
	}
</script>
<style lang="scss">
	@import '../variables.scss';

	.btg-input-file{
		$b: &;

		position: relative;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1px;

		&--dirty{
			#{$b}__label{
				top: -1rem;
				left: 1rem;
				font-size: 0.875rem;
				color: $primary-light;
				text-transform: uppercase;
				z-index: 2;
			}
		}

		&__input-file{
			display: none;
		}

		&__label{
			color: #717171;	
			font-family: "Source Sans Pro";	
			font-size: 1.125rem;
			display: block;
			position: absolute;
			left: 1.235rem;
			top: 0.5rem;
			transition: all 0.2s;
		}

		&__prefix{
			font-size: 1.125rem;
			padding: 0.5rem 1rem;
			padding-right: 0;
			color: #DDD;
			display: none;

			#{$b}--dirty &{
				display: inline-block;
			}
		}

		&__input{
			border: none;
			background: #fdfdfd;
			height: 2.6875rem;
			left: 0;
			bottom: 0;
			display: block;
			font-size: 1.125rem;
			padding: 0.5rem 1rem;
			margin-bottom: 0;
			width: 100%;
			color: #666;
			&:focus{ 
				outline: none;
			}
		}

		&__line{
			border: none;
			margin-top: 0;
			margin-bottom: 0;
			border-bottom: solid 1px #ccc;

			#{$b}--error &{
				border-bottom: solid 2px $danger;
			}

			#{$b}--success &{
				border-bottom: solid 2px $success;
			}
		}


		&__feedback{
			margin-bottom: 1rem;
			padding: 0 1rem;
			font-size: 0.875rem;

			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}
		&__feedback-icon{
			top: 1.1rem;
			position: absolute;
			right: 0;
			width: 20px;
			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}
	}
</style>