<template>
	<div tabindex="0" class="btg-radio-button btg-radio-button--no-border" @keypress.space.prevent.stop="onClick()" @click="onClick()" :class="{'btg-radio-button--active': active === value}">
		<div class="d-flex">
			<div><span class="btg-radio-button__radio-icon"></span>
			<input class="btg-radio-button__radio" 
			ref="radio" 
			type="radio" 
			:name="name" 
			:value="value" 
			v-model="active"></div>
			<label class="btg-radio-button__label">{{ label }}</label>
		</div>
	</div>
</template>
<style>
	.btg-radio-button--no-border{
		border: none !important;
	}
</style>
<script>
	import RadioButton from './RadioButton'

	export default{
		name: 'btg-radio-button-simple',
		extends: RadioButton
	}
</script>