<template>
	<div 
		tabindex="0" 
		class="btg-radio-button" 
		@keypress.space.prevent.stop="onClick()" 
		@click="onClick()" 
		:class="{
			'btg-radio-button--active': active === value, 
			'btg-radio-button--error': mutableStatus === 'error',
			'btg-radio-button--success': mutableStatus === 'success'
		}">
		<div class="d-flex">
			<div><span class="btg-radio-button__radio-icon"></span>
			<input class="btg-radio-button__radio" 
			ref="radio" 
			type="radio"
			:name="name" 
			:value="value" 
			v-model="active"></div>
			<label class="btg-radio-button__label">{{ label }}</label>
		</div>
	</div>
</template>
<style lang="scss">
	@import '../variables.scss';
	.btg-radio-button{
		$b: &;

		border: solid 1px #ddd;
		border-radius: 3px;
		padding: 1rem;
		cursor: pointer;
		min-width: 200px;
		// margin-bottom: 1rem;
		margin: 0.75rem;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
		transition: all 0.3s;
		
		&:focus{
			outline: none;
			// box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
			background-color: rgba($primary, 0.05)
		}

		&:hover{
			box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
		}

		&--error{
			border: solid 1px $danger;
		}

		&--success{
			border: solid 1px $success;
		}


		&--active{
			border: solid 1px $primary;
		}

		&--no-border{
			border: none !important;
			box-shadow: none !important;
		}

		&__label{
			padding-left: 1rem;
			margin-bottom: 0;
			cursor: pointer;
		}

		&__radio{
			display: none;
		}


		&__radio-icon{
			display: inline-block;
			margin-top: 0.35rem;
			width: 15px;
			height: 15px;
			border: solid 1px $gray;
			border-radius: 50px;
			transition: all 0.3s;

			#{$b}--active &{
				border: solid 2px white;
				background-color: $primary;
				box-shadow: 0px 0px 0px 1px $primary;
			}
		}
		
	}
</style>
<script>
	export default{
		name: 'btg-radio-button',
		data(){
			return {
				active: '',
				mutableStatus: this.status
			}
		},
		props: ['name', 'value', 'label', 'selected', 'status'],
		mounted(){
			window.addEventListener('btg:radio-button:' + this.name + ':changed', e => {
				this.mutableStatus = ''
				
				if(e.detail != this.value){
					this.active = ''
				}
			})
		},
		watch: {
			selected(value){
				this.active = value
				this.onClick()
			},
			status(value){
				this.mutableStatus = value
			}
		},
		methods: {
			onClick(){
				var event = new CustomEvent('btg:radio-button:' + this.name + ':changed', {
					detail: this.value
				})
				window.dispatchEvent(event)
				
				this.$refs.radio.click()
			}
		}
	}
</script>