<template>
	<div class="btg-select" :class="classObject">
		<label 
			@click="onClick()"
			:for="'btg-select-' + name"
			class="btg-select__label">{{ label }}</label>
		<select 
			v-model="data" 
			ref="input" 
			class="btg-select__select" 
			:name="name" 
			:id="'btg-select-' + name">
			<option :value="item.value" :key="index" v-for="(item, index) in parsedItems">{{ item.label }}</option>
		</select>
		<div class="btg-select__feedback" :class="'btg-select__feedback--' + status">{{ message }}</div>

		<div class="btg-select__icon">
			<i class="fas fa-chevron-down"></i>
		</div>
	</div>
</template>
<style lang="scss">
	@import '../variables.scss';

	.btg-select{
		$b: &;

		margin-top: 1rem;
		margin-bottom: 1rem;
		position: relative;
		padding: 1px;
		min-height: 85px;

		&--dirty{
			#{$b}__label{
				top: -1rem;
				left: 1rem;
				font-size: 0.875rem;
				color: $primary-light;
				text-transform: uppercase;
				z-index: 2;
			}
		}

		&__label{
			display: block;
			position: absolute;
			left: 1.235rem;
			top: 0.5rem;
			transition: all 0.2s;
			color: #717171;	
			font-family: "Source Sans Pro";	
			font-size: 1.125rem;
		}

		&__select{
			appearance: none;
			width: 100%;
			border-radius: 0;
			border: none;
			border-bottom: solid 1px #ccc;
			background: transparent;
			left: 0;
			bottom: 0;
			display: block;
			font-size: 1.125rem;
			padding: 0.5rem 1rem;
			margin-bottom: 0;
			width: 100%;
			color: #666;
			z-index: 2;
			position: relative;

			&::-ms-expand {
				display: none;
			}

			&:focus{ 
				outline: none;
				background: rgba($primary,0.05)
			}

			#{$b}--error &{
				border-bottom: solid 2px $danger;
			}

			#{$b}--success &{
				border-bottom: solid 2px $success;
			}
		}

		&__feedback{
			margin-bottom: 1rem;
			padding: 0 1rem;
			font-size: 0.875rem;

			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}

		&__icon{
			position: absolute;
			right: 0;
			top: 1.1rem;
			width: 20px;
			#{$b}--error &{
				color: $danger;
			}

			#{$b}--success &{
				color: $success;
			}
		}
	}
</style>
<script>
	import InputText from './InputText'

	export default{
		name: 'btg-select',
		extends: InputText,
		props: ['items', 'selected'],
		data(){
			return {
				data: ''
			}
		},
		mounted(){
			if(this.items){
				this.parsedItems = JSON.parse(this.items)
			}

			this.$nextTick().then(() => {

				if(this.selected){
					this.data = this.selected
				}
			})
		},
		computed: {
			parsedItems: {
				get(){
					if(this.items){
						return JSON.parse(this.items)
					}else{
						return []
					}
				},
				set(val){
					return val
				}
				
			}
		},
		watch:{
			selected(){
				this.data = this.selected
			},
			data(){
				if(this.data != ''){
					this.dirty = true
				}else{
					this.dirty = false
				}
				var event = new CustomEvent('btg:select:changed', {
					detail: {
						name: this.name,
						value: this.value
					}
				});
				window.dispatchEvent(event);
			}
		},
		methods: {
			onClick(){
				//this.$refs['input'].click()
			}
		}
	}
</script>