<template>
	<div class="text-center">
		<input type="hidden" v-model="selected" :name="name">
		<template v-for="n in max">
			<span :key="n" class="star" @click="onClick(n)">
				<i class="fas fa-star" v-if="n <= selected"></i>
				<i class="far fa-star" v-if="n > selected"></i>
			</span>
		</template>
	</div>
</template>
<style lang="scss">
	@import '../variables.scss';

	.star{
		color: $primary;
		cursor: pointer;
		font-size: 1.5rem;
		padding: 0.5rem;
	}
</style>
<script>
	export default{
		name: 'btg-stars',
		props: ['name', 'max'],
		data(){
			return {
				selected: 0
			}
		},
		methods: {
			onClick(index){
				this.selected = index
			}
		}
	}
</script>