<template>
  <div id="app">
    <div class="container">
      
      <h1>BTGPactual / Design system 1.0.0</h1>
      <hr>

      <h2>Colors</h2>
      <div class="bg-primary text-white p-3">#0272A7 <em>.bg-primary | .text-primary</em> </div>
      <div class="bg-success text-white p-3">#A6CE39 <em>.bg-success | .text-success</em> </div>
      <div class="bg-danger text-white p-3">#D17A7A <em>.bg-danger | .text-danger</em> </div>
      <div class="bg-light text-dark p-3">#FAFAFA <em>.bg-light | .text-light</em> </div>
      <div class="bg-dark text-white p-3">#FAFAFA <em>.bg-light | .text-light</em> </div>
      <div class="bg-gray text-white p-3">#FAFAFA <em>.bg-light | .text-light</em> </div>

      <hr>
      
      <h2>Typography</h2>
      <hr>

      <table class="table">
        <thead>
          <tr>
            <th>Text</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>h1</td>
            <td><h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1></td>
          </tr>
          <tr>
            <td>h2</td>
            <td><h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2></td>
          </tr>
          <tr>
            <td>h3</td>
            <td><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></td>
          </tr>
          <tr>
            <td>h4</td>
            <td><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4></td>
          </tr>
          <tr>
            <td>h5</td>
            <td><h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5></td>
          </tr>
          <tr>
            <td>h6</td>
            <td><h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6></td>
          </tr>
          <tr>
            <td>p</td>
            <td><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></td>
          </tr>
          <tr>
            <td>link</td>
            <td><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></td>
          </tr>
        </tbody>
      </table>

      <hr>

      <table class="table">
        <thead>
          <tr>
            <th>Text</th>
            <th>Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>.page__title</td>
            <td>
              <h1 class="page__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum.</h1>
            </td>
          </tr>
          <tr>
            <td>.text-lead</td>
            <td>
              <h1 class="text-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum.</h1>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      
      <h2>Form Input Fields</h2>
      <hr>
      <btg-input-text label="Input text example"></btg-input-text>
      <btg-input-text label="Input text example" value="12.345.678-9" status="success" message="This is a success message"></btg-input-text>
      <btg-input-text label="Input text example" value="esrdtfyghj" status="error" message="This is a error message"></btg-input-text>
      <btg-input-text label="Input text example with prefix" prefix="$CLP"></btg-input-text>

      <btg-input-text label="Input text Read Only" value="you can read but no write" read-only="true"></btg-input-text>

      
      <h2>Form Password Fields</h2>
      <hr>
        <form action="">
         <btg-input-password 
          id="test"
          label="Input text example" 
          name="input-pass"></btg-input-password>
        </form>


      <h2>Form input date</h2>
      <hr>

      <btg-date-picker label="Pick a date" name="pick-date" value="13/08/2017"></btg-date-picker>
      <btg-date-picker label="Pick a date" name="pick-date"></btg-date-picker>
      <btg-date-picker label="Pick a date" name="pick-date" format="dd-MM-yyyy"></btg-date-picker>

      <p>Props:</p>
      <pre class="bg-light p-3 border">
label: String
name: String
format: String | default: 'dd/MM/yyyy'
value: String | Optional</pre>

      <h2>Form Input File</h2>
      <hr>
      <btg-input-file label="Upload file" name="upload-file"></btg-input-file>

      <p>Props:</p>
      <pre class="bg-light p-3 border">
label: String
name: String
value: String
status: String
message: String
accept: String | default: 'image/png, image/jpeg'
multipleLabel: String | default: 'Multiple files...'
</pre>
      
      <p>Events:</p>
      <pre class="bg-light p-3 border">
window.addEventListener("btg:btg-input-file:upload-file:changed", function(e){ 
  // Do the magic here
  console.log(e.detail.target.files) 
})</pre>
      

      <h2>Form Input Card</h2>
      <hr>
      <btg-input-file-card 
        label="Upload file" 
        name="upload-file"></btg-input-file-card>


        <p>Props:</p>
      <pre class="bg-light p-3 border">
label: String
name: String
value: String
status: String
message: String
accept: String | default: 'image/png, image/jpeg'
</pre>
      
      <p>Events:</p>
      <pre class="bg-light p-3 border">
window.addEventListener("btg:btg-input-file:[NAME]:changed", function(e){ 
  // Do the magic here
  console.log(e.detail.target.files) 
})</pre>
      

      <h2>Form Radio (Simple)</h2>

      <ul class="list-unstyled">
        <li>
          <btg-radio-button-simple name="simple" value="1" label="Radio button option"></btg-radio-button-simple>
        </li>
        <li>
          <btg-radio-button-simple name="simple" value="2" label="Radio button option"></btg-radio-button-simple>
        </li>
        <li>
          <btg-radio-button-simple name="simple" value="3" label="Radio button option"></btg-radio-button-simple>
        </li>

      </ul>
      

      <h2>Form Radio</h2>
      <hr>
      <div class="row">
        <btg-radio-button class="col" name="example" value="1" label="Radio button option"></btg-radio-button>
        <btg-radio-button class="col" name="example" value="2" label="Radio button option"></btg-radio-button>
        <btg-radio-button class="col" name="example" value="3" label="Radio button option"></btg-radio-button>
      </div>


      <hr>

      <h6>Radio button Error</h6>

      <!-- <div class="alert alert-danger text-danger">You must pick any of these <i class="fas fa-times"></i></div>
 -->
      
      <div class="row">
        <btg-radio-button status="error" class="col" name="example" value="1" label="Radio button option"></btg-radio-button>
        <btg-radio-button status="error" class="col" name="example" value="2" label="Radio button option"></btg-radio-button>
        <btg-radio-button status="error" class="col" name="example" value="3" label="Radio button option"></btg-radio-button>
      </div>

      <p class="px-3 text-danger">
          You must pick any of these
      </p>

      <pre class="bg-light p-3 border">
name: String
value: String
label: String 
selected: String
status: String | '' (default) | 'error' </pre>

      <p>Events:</p>


<pre class="bg-light p-3 border">
// event: btg:radio-button:{name}:changed

window.addEventListener('btg:radio-button:example:changed', funtion(evt){
  // Triggers when the radiobutton was selected
});</pre>

      <hr>

      <div class="d-flex align-items-stretch">
        <btg-radio-button class="mr-3" name="example-2" value="1" label="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></btg-radio-button>
        <btg-radio-button class="mr-3" name="example-2" value="2" label="Radio button option"></btg-radio-button>
        <btg-radio-button class="" name="example-2" value="3" label="Radio button option"></btg-radio-button>
      </div>

      <hr>

      <div>
        <ul class="list-unstyled">
          <li :key="n" class="mb-3" v-for="n in 3">
            <btg-radio-button
              name="e" 
              :value="n" 
              label="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></btg-radio-button>
          </li>
        </ul>
      </div>


      <h2>Select</h2>
      <hr>

      <div class="row">
        <div class="col">
          <btg-select 
          label="Dirección" 
          items='[{"value": "value", "label": "Label"}, {"value": "value2", "label": "Label 2"}]'
          name="select-normal"> 
          </btg-select>
        </div>
        <div class="col">
          <btg-select 
          label="Dirección" 
          items='[{"value": "", "label": ""}, {"value": "value", "label": "Label"}, {"value": "value2", "label": "Label 2"}]' 
          selected="value2"
          status="error" 
          message="This is not a valid choice"
          name="select-with-error">
          </btg-select>
        </div>
        <div class="col">
          <btg-select 
          label="Dirección" 
          items='[{"value": "", "label": ""}, {"value": "value", "label": "Label"}, {"value": "value2", "label": "Label 2"}]' 
          status="success" 
          selected="value2"
          message="This is a valid choice"
          name="select-with-error">
          </btg-select>
        </div>
      </div>

      <p>Note: items can be assigned dynamically using:</p>
      <div class="mb-4 border p-3">
        <code>document.getElementsByTagName('btg-select')[0].items = '{"value 1": "Label :O", "value 2": "Label 3", "label": "item"}'</code>
      </div>


      <h2>Checkbox</h2>
      <hr>
      <div class="mb-4">
        <div><label><input type="checkbox"> This is a checkbox unchecked</label></div>
        <div><label><input type="checkbox" checked="checked"> This is a checkbox unchecked</label></div>
      </div>

      <h2>Buttons</h2>
      <hr>
      
      <div class="border p-3 mb-4">
        <button class="mr-4 mb-4 btn btn-primary">Button Primary</button>
        <button class="mr-4 mb-4 btn btn-primary disabled">Button Primary (Disabled)</button>
        <button class="mr-4 mb-4 btn btn-secondary">Button Secondary</button>
        <button class="mr-4 mb-4 btn btn-light">Button Light</button>
        <button class="mr-4 mb-4 btn btn-link">Button Link</button>
      </div>
      
      <h2>Stars</h2>
      <hr>
      <btg-stars name="stars" max="5"></btg-stars>

      <h2>Steps</h2>
      <hr>
      
      <div class="border p-3">
        <div class="sidebar bg-light">
          <ul class="steps">
            <li class="steps__item steps__item--active">Autentificación</li>
            <li class="steps__item">Datos personales</li>
            <li class="steps__item">Relación con otros países</li>
            <li class="steps__item">Datos complementarios</li>
            <li class="steps__item">Proceso completo</li>
          </ul>
        </div>
      </div>
    
    </div>
    
  </div>
</template>
<style lang="scss">  
  @import 'scss/lib';
</style>
<script>
export default {
  name: 'app'
}
</script>