// Variables
$primary      : #0272A7 !default;
$primary-light: #008FD4 !default;
$success      : #A6CE39 !default;
$danger       : #D17A7A !default;
$light        : #FAFAFA !default;
$dark         : #5D5D5D !default;
$gray         : #ABB4BD !default;

$theme-colors: (
  'primary': $primary,
  'gray':    $gray
) !default;


$body-color     : #777777 !default;
$headings-color : #5D5D5D !default;

// Source Sans Pro
$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$headings-font-weight  : 700 !default;


// Fontawesome
$fa-font-path:  './assets/fontawesome/webfonts' !default;