/* Steps */
.steps{
	padding: 0;
	margin: 0;
	margin-left: 20px;
	list-style:  none;
}
.steps__item{
	color: #9B9B9B;
	font-family: "Source Sans Pro";
	font-size: 0.75rem;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 1rem;
	padding: 1rem 0.2rem;
	max-height: 50px;
	line-height: 1;
}
.steps__item::after{
	content: "";
	background: #ABB4BD;
	display: block;
	width: 10px;
	height: 10px;
	left: -20px;
	top: calc(50% - 5px);
	position: absolute;
	border-radius: 50px;
}
.steps__item::before{
	content: "";
    background: #ABB4BD;
    display: block;
    width: 1px;
    height: 65px;
    left: -16px;
    top: 25px;
    position: absolute;
}
.steps__item:last-child:before{
	display: none;
}
.steps__item--done{
	color: #008FD4;
}
.steps__item--done::after{
	width: 12px;
	height: 12px;
	content: "\F00C";
	font-family: Font Awesome\ 5 Free;
    font-weight: 900;
	color: white;
	background: #008FD4;
	font-size: 9px;
    text-align: center;
    line-height: 1.5;
}
.steps__item--done::before{
	background: #008FD4;
}
.steps__item--active{
	color: #008FD4;
	font-weight: bold;
}
.steps__item--active::after{
	background: #008FD4;
	transform: scale(1.5,1.5);
}