.page__title{
	color: $primary;
	font-family: "Source Sans Pro";
	font-size: 2.5rem;
	font-weight: 300; 
}

.text-lead{
	color: #5D5D5D;
	font-family: "Source Sans Pro";
	font-size: 1.5rem;
	font-weight: 300;
}